/* 모바일 css */
@media (max-width: 767px)
{
  * {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-family: 'jua';
    color: #000000;
  }
  body {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
  }
  header {
    float: left;
    width: 100%;
    height: 100px;
    background-color: grey;
    display: flex;
    justify-content: center;
  } 
  header > div {
    margin-top: 10%;
  }
  section {
    float: left;
    width: 100%;
  }
  section#sct1{
    float: left;
    width: 100%;
    height: 100px;
  }
  section#sct1 ul {
    text-align: center;
  }
  section#sct1 ul li {
    display: inline-block;
    padding: 3%;
    margin-top: 7%;
  }
  section#sct1 input[type=button] {
    width: 80px;
    height: 30px;
    border: 1px solid ;
    border-radius: 20px;
  }
  section#sct2{
    float: left;
    width: 100%;
    height: 200px;
  }
  .win_num_menu{
    text-align: center;
    width: 100%;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .win_num_menu>li{
    float: left;
    width: 50%;
    height: 100px;
    line-height: 30px;
  }
  .win_num_menu>li>a{
    display: block;
    font-size: 20px
    text-align: center;
    text-decoration: none;
    background-color: #cccccc;
    border: 1px solid #dddddd;
    border-bottom: none;
  }
  .win_num_menu>li>a:hover{
    background-color: #eeeeee;
  }
  .win_num_menu>li.active>a{
    background-color: #eeeeee;
  }
  section#sct3 {
    float: left;
    width: 100%;
    height: 200px;
  }
  .tabmenu{
    float: left;
    width: 195px;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .tabmenu>li{
    float: left;
    width: 80px;
    line-height: 30px;
  }
  .tabmenu>li>a{
    display: block;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: #cccccc;
    border: 1px solid #dddddd;
    border-bottom: none;
  }
  .tabmenu>li>a:hover{
    background-color: #eeeeee;
  }
  .tabmenu>li:first-child a {
    border-right: none;
  }
  .tabmenu>li.active>a{
    background-color: #ffffff;
  }
  .tabmenu>li div{
    position: absolute;
    left: 0px;
    height: 0px;
    overflow: hidden;
  }
  .tabmenu>li.active div {
    width: 193px;
    height: 148px;
    border: 1px solid #dddddd;
  }
  .notice ul {
    float: left;
    width: 193px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .notice li {
    height: 32px;
    line-height: 32px;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .notice li:nth-child(2n){
    background-color: #cccccc;
  }
  .notice li span {
    float: right;
  }
  .notice li:hover{
    font-weight: bold;
  }
  .notice li a {
    text-decoration: none;
  }
  /*공지사항*/
  .news ul {
    float: left;
    width: 193px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .news li {
    height: 32px;
    line-height: 32px;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .news li:nth-child(2n){
    background-color: #cccccc;
  }
  .news li span {
    float: right;
  }
  .news li:hover{
    font-weight: bold;
  }
  .news li a {
    text-decoration: none;
  }
  /*언론보도*/
  section#sct3 div#img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer {
    float: left;
    width: 100%;
    height: 140px;
    background-color: grey;
  }
  .share_sns li{
    float: left;
  }
  .share_sns li img {
    width: 30px;
    height: 30px;
    padding: 10px;
    margin-top: 45px;
  }
}
